<form>
  <div class='mb-3'>
    <label for='title' class='form-label'>Title</label>
    <input
      type='text'
      class='form-control'
      id='title'
      aria-describedby='emailHelp'
    />
  </div>
  <div class='mb-3'>
    <label for='title' class='form-label'>Image</label>
    <input
      type='text'
      class='form-control'
      id='img'
      aria-describedby='emailHelp'
    />
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>